/* AQUI FICARA TUDO QUE TENHA HAVER COM A EXIBIÇÃO DOS DADOS DO BANCO (CARDS, EDIÇÃO, ETC) E TAMBÉM INICIALMENTE E 
UMA PARTE DO CONTEUDO ANIMADO DINAMICO */

/* === DSPLAY DE USUARIOS === */
.transactions-section-active .animated-element {
    opacity: 1;
    max-height: 500px; /* Um valor grande o suficiente para acomodar o conteúdo sem cortar */
    transform: translateY(0);
}

/* Efeito Cascata: Atrasos para cada tipo de elemento === USUARIOS === */
/* Ajuste esses seletores e os delays conforme a ordem que você quer que apareçam */
.transactions-section-active .user-card {
    transition-delay: 0s; /* Aparece primeiro */
}
.transactions-section-active .users-grid-container {
    transition-delay: 0.1s;
}
.transactions-section-active .no-users-message{
    transition-delay: 0.1s;
}
.transactions-section-active .error-message {
    transition-delay: 0.1s;
}
.transactions-section-active #collectSection {
    transition-delay: 0.3s; /* Aparece por último */
}


/* === DSPLAY DE TRANSFERENCIAS === */

/* Efeito Cascata: Atrasos para cada tipo de elemento === USUARIOS === */
/* Ajuste esses seletores e os delays conforme a ordem que você quer que apareçam */
.transactions-section-active .transfers-card {
    transition-delay: 0s; /* Aparece primeiro */
}
.transactions-section-active .trasnfer-grid-container {
    transition-delay: 0.1s;
}
.transactions-section-active .no-transfers-message{
    transition-delay: 0.1s;
}
.transactions-section-active .error-message {
    transition-delay: 0.1s;
}


/* === DSPLAY DE DEPOSITOS === */
/* Efeito Cascata: Atrasos para cada tipo de elemento === USUARIOS === */
/* Ajuste esses seletores e os delays conforme a ordem que você quer que apareçam */
.transactions-section-active .deposits-card {
    transition-delay: 0s; /* Aparece primeiro */
}
.transactions-section-active .deposits-grid-container {
    transition-delay: 0.1s;
}
.transactions-section-active .no-deposits-message{
    transition-delay: 0.1s;
}
.transactions-section-active .error-message {
    transition-delay: 0.1s;
}


/* === DSPLAY DE EMPRESTIMOS === */
/* Efeito Cascata: Atrasos para cada tipo de elemento === USUARIOS === */
/* Ajuste esses seletores e os delays conforme a ordem que você quer que apareçam */
.transactions-section-active .loans-card {
    transition-delay: 0s; /* Aparece primeiro */
}
.transactions-section-active .loans-grid-container {
    transition-delay: 0.1s;
}
.transactions-section-active .no-loans-message{
    transition-delay: 0.1s;
}
.transactions-section-active .error-message {
    transition-delay: 0.1s;
}


/* ===== ESTILO PARA OS GRIDS ===== */

.users-grid-container, .trasnfers-grid-container, .deposits-grid-container, .loans-grid-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Colunas responsivas */
    gap: 1.5rem; /* Espaçamento entre os cartões */
    width: 100%;
    max-width: 1200px; /* Largura máxima para o grid */
    margin: 2rem auto; /* Centraliza o grid */
    padding: 1rem;
}

.user-card, .transfer-card, .deposit-card, .loan-card {
    background-color: var(--color-quintennial); /* Fundo dos cartões */
    border: 2.5px solid var(--color-tertiary);
    border-radius: .75rem;
    padding: 1.5rem;
    box-shadow: var(--shadow-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça conteúdo e botões */
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card:hover, .transfer-card:hover, .deposit-card:hover, .loan-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: var(--shadow-light-strong);
}

.user-card-name, .deposits-card-value, .loans-card-date, .loans-card-total-value, 
.loans-card-total-value {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-tertiary); /* Use uma cor de contraste para o nome */
    margin-bottom: 0.8rem;
    text-shadow: var(--shadow-dark); /* Adiciona uma leve sombra para destacar */
}

.transfers-card-name, .deposits-card-name, .loans-card-name, .loans-card-rate {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-tertiary); /* Use uma cor de contraste para o nome */
    margin-bottom: 0.4rem;
    text-shadow: var(--shadow-dark); /* Adiciona uma leve sombra para destacar */
}

.user-card-detail, .transfer-card-detail, .deposit-card-detail, .loan-card-detail, .loan-card-installments {
    font-size: 0.95rem;
    color: var(--color-tertiary);
    margin-bottom: 0.4rem;
    word-break: break-all; /* Quebra palavras longas como e-mails */
}

.user-actions, .transfer-actions, .deposit-actions, .loan-actions {
    display: flex;
    gap: 1rem; /* Espaçamento entre os botões */
    margin-top: 1.5rem;
    width: 100%;
    justify-content: center;
}

.action-button {
    border: 2px solid var(--color-tertiary);
    background: var(--color-edit-btn);
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    padding: 0.6rem 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    user-select: none;
    box-shadow: var(--shadow-light);
    transition: background 0.3s ease, transform 0.3s ease;
    flex-grow: 1; /* Faz os botões crescerem para preencher o espaço */
    max-width: 120px; /* Limite de largura para botões em telas maiores */
}

.action-button:hover {
    background: linear-gradient(135deg,#0fbe27 0%, #0e5dc4 100%); /* Gradiente de hover */
    transform: scale(1.05);
}

.action-button:active {
    transform: scale(0.98);
}

.delete-button {
    border: 2px solid var(--color-tertiary);
    background: var(--color-delete-btn);
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    padding: 0.6rem 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    user-select: none;
    box-shadow: var(--shadow-light);
    transition: background 0.3s ease, transform 0.3s ease;
    flex-grow: 1; /* Faz os botões crescerem para preencher o espaço */
    max-width: 120px; /* Limite de largura para botões em telas maiores */
}

#customEditCancelButton {
    border: 2px solid var(--color-tertiary);
    background: var(--color-delete-btn);
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    padding: 0.6rem 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    user-select: none;
    box-shadow: var(--shadow-light);
    transition: background 0.3s ease, transform 0.3s ease;
    flex-grow: 1; /* Faz os botões crescerem para preencher o espaço */
    max-width: 120px; /* Limite de largura para botões em telas maiores */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2.8rem;
    width: 100%;
    max-height: 3rem;
    max-width: 14rem;
    text-align: center;
}

.delete-button:hover, #customEditCancelButton:hover {
    background: linear-gradient(135deg,#be0f0f 0%, #c4840e 100%); /* Gradiente de hover */
    transform: scale(1.05);
}

.delete-button:active, #customEditCancelButton:active {
    transform: scale(0.98);
}

.no-users-message, .no-transfers-message, .no-deposits-message, .no-deposits-message, .error-message {
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-tertiary);
    width: 100%;
    margin-top: 2rem;
}

#collectSectionUsers:hover {
    background: linear-gradient(135deg,#0e86e9 0%, #10a7ff 50%, #8f49ff 100%);
    transform: scale(1.02);
}

#collectSectionUsers:active {
    transform: scale(0.99);
}

/* Se você tem um container para todos os botões de recolher, pode ajustar aqui */
.btns-transactions-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem; /* Espaçamento acima dos botões */
}